<p-toast></p-toast>
<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <a routerLink="" class="flex">
      <img src="../../../assets/images/apple.png" alt="Home" class="mr-2" />
      <div class="flex-column">
        <h3 class="mt-1">Lincoln Elementary</h3>
      </div>
    </a>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="flex w-full justify-content-end">
      <div class="flex mx-auto">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
          <p-autoComplete
            class="flex w-20rem"
            placeholder="teacher"
            [(ngModel)]="searchText"
            [suggestions]="filteredTeachers"
            (completeMethod)="search($event)"
            (onSelect)="onSelect($event)"
            minlength="1"
          >
            <ng-template let-teacher pTemplate="item">
              <div>
                <span>{{ teacher.teacherName }}</span> -
                {{ teacher.gradeName }}
                <span *ngIf="!teacher.gradeName.includes('K')">Grade</span>
              </div>
            </ng-template>
          </p-autoComplete>
        </div>
      </div>
      <div>
        <button
          *ngIf="!currentAdmin.username; else loggedIn"
          pButton
          pRipple
          type="button"
          icon="pi pi-lock"
          class="mr-3 p-button-raised p-button-rounded"
          (click)="showLogin()"
        ></button>
      </div>
    </div>
  </ng-template>
</p-menubar>
<sr-admin
  [showLoginDialog]="showLoginDialog"
  (closeDialog)="hideLogin()"
></sr-admin>
<ng-template #loggedIn>
  <button
    pButton
    pRipple
    type="button"
    icon="pi pi-lock-open"
    class="mr-3 p-button-outlined p-button-rounded"
    (click)="logout()"
  ></button>
</ng-template>
