<div *ngIf="!hasTeachers; else showTeachers">
  <h2>There are no teachers meeting this criteria!</h2>
</div>
<ng-template #showTeachers>
  <p-scrollPanel
    [style]="{
      width: '90vw',
      height: 'auto',
      maxHeight: 'calc(97vh - 390px)',
      margin: '0 auto',
      backgroundColor: '#c4ccd5'
    }"
  >
    <section class="flex flex-wrap justify-content-evenly">
      <div *ngFor="let teacher of teachers" class="cards surface-ground border-round-xl p-4 my-3">
        <div class="flex border-bottom-1 pb-4">
          <p-avatar
            class="mr-2"
            icon="pi pi-user"
            size="xlarge"
            shape="circle"
          ></p-avatar>
          <div class="flex flex-column align-items-start">
            <span class="text-lg font-medium mb-1">{{
              teacher.teacherName
            }}</span>
            <span class="font-medium mb-2">Grade: {{ teacher.gradeName }}</span>
            <span class="font-medium mb-2"
              >Max Class Size: {{ teacher.maxClassSize }}</span
            >
          </div>
        </div>
        <div class="flex justify-content-between pt-4">
          <button
            pButton
            pRipple
            icon="pi pi-id-card"
            label="Teacher Info"
            class="p-button-raised p-button-rounded"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-book"
            label="Students"
            class="p-button-raised p-button-rounded"
          ></button>
        </div>
      </div>
    </section>
  </p-scrollPanel>
</ng-template>
