<!-- <p-toast></p-toast>
<p-toast position="center" key="center">
    <ng-template let-message pTemplate="message">
        <div class="flex flex-column flex-1">
            <div class="text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="flex justify-content-around my-3">
                <button type="button" pButton pRipple label="Delete" class="p-button-danger"></button>
                <button type="button" pButton pRipple label="Cancel" class="p-button-secondary"></button>
            </div>
        </div>
    </ng-template>
</p-toast> -->
<p-panel header="Student Info" [style]="{width: '65vw', margin: '0 auto'}">
    <form [formGroup]="studentForm">
        <div class="flex">
            <section class="w-6">
                <div class="flex align-items-center justify-content-evenly">
                    <p-avatar
                    icon="pi pi-user"
                    size="xlarge"
                    shape="circle"
                  ></p-avatar>
                  <button pButton pRipple class="p-button-raised p-button-rounded" icon="pi pi-plus" label="Upload Image"></button>
                </div>
                <div class="flex flex-column mt-5">
                    <div class="flex justify-content-evenly align-items-center mb-3">
                        <label for="firstName">First Name</label>
                        <input formControlName="firstName" pInputText type="text" name="firstName" id="firstName" class="p-inputtext p-component">
                    </div>
                    <div class="flex justify-content-evenly align-items-center">
                        <label for="LastName">Last Name</label>
                        <input formControlName="lastName" pInputText type="text" name="LastName" id="LastName" class="p-inputtext p-component">
                    </div>
                </div>
            </section>
            <section class="w-6">
                <div class="flex flex-column">
                    <div class="flex justify-content-center align-items-center mb-2">
                        <label for="grade">Grade</label>
                        <p-dropdown formControlName="grade" [options]="grades" optionLabel="description" optionValue="gradeName"></p-dropdown>
                    </div>
                    <div class="flex justify-content-center align-items-center mb-4">
                        <label for="teacher">Teacher</label>
                        <input formControlName="teacher" pInputText type="text" name="teacher" id="teacher" class="p-inputtext p-component">
                    </div>
                    <div class="flex justify-content-center align-items-center mb-3">
                        <label for="phone">Parent Phone</label>
                        <p-inputMask formControlName="phone" mask="999-999-9999" placeholder="999-999-9999"></p-inputMask>
                    </div>
                    <div class="flex justify-content-center align-items-center mb-3">
                        <label for="email">Parent Email</label>
                        <input type="email" formControlName="email" name="email" id="email" pInputText class="p-inputtext p-component">
                    </div>
                </div>
            </section>
        </div>
        <div class="flex justify-content-center my-4">
            <button type="submit" pButton pRipple label="Save" icon="pi pi-check" class="mx-4"></button>
            <button type="button" pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-secondary mx-4"></button>
            <button type="button" pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger mx-4"></button>
        </div>
    </form>
</p-panel>