.headings {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5em;
}

section:first-of-type > p {
    display: flex;
    justify-content: center;
    font-size: 1.25em;
    line-height: 1.5em;
    margin-bottom: 1.25em;
}

a {
    font-size: 1.25em;
    text-decoration: none;
}

.registerBtn {
    text-align: center;
}