<div class="flex flex-column">
  <section>
    <h1>Our Teachers</h1>
    <sr-card></sr-card>
  </section>
  <section class="flex justify-content-center gap-4">
    <button
      pButton
      pRipple
      icon="pi pi-id-card"
      label="Add Teacher"
      class="p-button-raised p-button-rounded"
      [routerLink]="['/teacher-info']"
    ></button>
    <button
      pButton
      pRipple
      icon="pi pi-book"
      label="Register Student"
      class="p-button-raised p-button-rounded"
    ></button>
  </section>
</div>
